.main-footer {
  padding: units(4) 0;
  background-color: black;

  ul {
    @include flex-container ($direction: row, $wrap: wrap, $justify: center, $align: center);

    & > li {
      margin-right: units(4);

      &:last-of-type {
        margin-right: units(0);
      }
    }
  };

  .footer-link {
    color: white;
    font-family: "BureauGrotesque";
    font-weight: 500;
    font-size: units(5);
    text-transform: uppercase;

    &:hover {
      opacity: 0.8;
    }
  }
}
