.navigation {
  &.primary-navigation {
    padding-left: units(4);
    padding-right: units(4);
    @include flex-container ($direction: row, $justify: space-between, $align: center);

    @media #{$screen-md-down} {
      @include flex-container ($direction: row, $justify: center, $align: center);
    }
  }

  .logo {
    height: 40px;
  }

  .header-links {
    @include flex-container ($direction: row, $align: center, $justify: flex-end);

    @media #{$screen-sm-down} {
      display: none;
    }
  }

  .header-link {
    color: white;
    font-family: "BureauGrotesque";
    font-weight: 500;
    font-size: units(5);
    text-transform: uppercase;
    margin-left: units(4);

    &:hover {
      color: #FFE900;
    }
  }
}
