$screen-size-sm: 40rem !default; //  640px Tablet portrait -> landscape
$screen-size-md: 50rem !default; //  800px Tablet landscape -> Desktop small
$screen-size-lg: 65rem !default; // 1040px Desktop small -> large
$screen-size-xl: 80rem !default; // 1440px

$container-sm: 45rem;   //  720px
$container-md: 70rem;   // 1120px
$container-lg: 87.5rem; // 1400px

$one-pixel: 0.0625rem;

$screen-xs: '(max-width: #{$screen-size-sm - $one-pixel})' !default;

$screen-sm-up: '(min-width: #{$screen-size-sm})' !default;
$screen-sm-down: '(max-width: #{$screen-size-md - $one-pixel})' !default;
$screen-sm: '(min-width: #{$screen-size-sm}) and (max-width: #{$screen-size-md - $one-pixel})' !default;

$screen-md-up: '(min-width: #{$screen-size-md})' !default;
$screen-md-down: '(max-width: #{$screen-size-lg - $one-pixel})' !default;
$screen-md: '#{$screen-md-up} and (max-width: #{$screen-size-lg - $one-pixel})' !default;

$screen-lg-up: '(min-width: #{$screen-size-lg})' !default;
$screen-lg-down: '(max-width: #{$screen-size-xl - $one-pixel})' !default;
$screen-lg: '#{$screen-lg-up} and (max-width: #{$screen-size-xl - $one-pixel})' !default;

$screen-xl-up: '(min-width: #{$screen-size-xl})' !default;
$screen-xl: '#{$screen-xl-up} and (min-width: #{$screen-size-xl - $one-pixel})' !default;

$retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';
