//BureauGrotesque

// @font-face {
//     font-family: 'BureauGrotesque';
//     src: url('../fonts/BureauGrotesque-SevenNine.eot');
//     src: url('../fonts/BureauGrotesque-SevenNine.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/BureauGrotesque-SevenNine.woff2') format('woff2'),
//         url('../fonts/BureauGrotesque-SevenNine.woff') format('woff'),
//         url('../fonts/BureauGrotesque-SevenNine.ttf') format('truetype'),
//         url('../fonts/BureauGrotesque-SevenNine.svg#BureauGrotesque-SevenNine') format('svg');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'BureauGrotesque';
//     src: url('BureauGrotesque-FiveFive.eot');
//     src: url('BureauGrotesque-FiveFive.eot?#iefix') format('embedded-opentype'),
//         url('BureauGrotesque-FiveFive.woff2') format('woff2'),
//         url('BureauGrotesque-FiveFive.woff') format('woff'),
//         url('BureauGrotesque-FiveFive.ttf') format('truetype'),
//         url('BureauGrotesque-FiveFive.svg#BureauGrotesque-FiveFive') format('svg');
//     font-weight: 500;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'BureauGrotesque';
//     src: url('BureauGrotesque-FiveOne.eot');
//     src: url('BureauGrotesque-FiveOne.eot?#iefix') format('embedded-opentype'),
//         url('BureauGrotesque-FiveOne.woff2') format('woff2'),
//         url('BureauGrotesque-FiveOne.woff') format('woff'),
//         url('BureauGrotesque-FiveOne.ttf') format('truetype'),
//         url('BureauGrotesque-FiveOne.svg#BureauGrotesque-FiveOne') format('svg');
//     font-weight: 500;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'BureauGrotesque';
//     src: url('BureauGrotesque-ThreeOne.eot');
//     src: url('BureauGrotesque-ThreeOne.eot?#iefix') format('embedded-opentype'),
//         url('BureauGrotesque-ThreeOne.woff2') format('woff2'),
//         url('BureauGrotesque-ThreeOne.woff') format('woff'),
//         url('BureauGrotesque-ThreeOne.ttf') format('truetype'),
//         url('BureauGrotesque-ThreeOne.svg#BureauGrotesque-ThreeOne') format('svg');
//     font-weight: 500;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'BureauGrotesque';
//     src: url('BureauGrotesque-OneOne.eot');
//     src: url('BureauGrotesque-OneOne.eot?#iefix') format('embedded-opentype'),
//         url('BureauGrotesque-OneOne.woff2') format('woff2'),
//         url('BureauGrotesque-OneOne.woff') format('woff'),
//         url('BureauGrotesque-OneOne.ttf') format('truetype'),
//         url('BureauGrotesque-OneOne.svg#BureauGrotesque-OneOne') format('svg');
//     font-weight: 500;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'BureauGrotesque-ThreeSeven';
//     src: url('BureauGrotesque-ThreeSeven.eot');
//     src: url('BureauGrotesque-ThreeSeven.eot?#iefix') format('embedded-opentype'),
//         url('BureauGrotesque-ThreeSeven.woff2') format('woff2'),
//         url('BureauGrotesque-ThreeSeven.woff') format('woff'),
//         url('BureauGrotesque-ThreeSeven.ttf') format('truetype'),
//         url('BureauGrotesque-ThreeSeven.svg#BureauGrotesque-ThreeSeven') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'BureauGrotesque';
//     src: url('BureauGrotesque-ThreeFive.eot');
//     src: url('BureauGrotesque-ThreeFive.eot?#iefix') format('embedded-opentype'),
//         url('BureauGrotesque-ThreeFive.woff2') format('woff2'),
//         url('BureauGrotesque-ThreeFive.woff') format('woff'),
//         url('BureauGrotesque-ThreeFive.ttf') format('truetype'),
//         url('BureauGrotesque-ThreeFive.svg#BureauGrotesque-ThreeFive') format('svg');
//     font-weight: 500;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'BureauGrotesque';
//     src: url('BureauGrotesque-ThreeThree.eot');
//     src: url('BureauGrotesque-ThreeThree.eot?#iefix') format('embedded-opentype'),
//         url('BureauGrotesque-ThreeThree.woff2') format('woff2'),
//         url('BureauGrotesque-ThreeThree.woff') format('woff'),
//         url('BureauGrotesque-ThreeThree.ttf') format('truetype'),
//         url('BureauGrotesque-ThreeThree.svg#BureauGrotesque-ThreeThree') format('svg');
//     font-weight: 500;
//     font-style: normal;
// }

@font-face {
    font-family: 'BureauGrotesque';
    src: url('../fonts/BureauGrotesque-OneFive.eot');
    src: url('../fonts/BureauGrotesque-OneFive.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BureauGrotesque-OneFive.woff2') format('woff2'),
        url('../fonts/BureauGrotesque-OneFive.woff') format('woff'),
        url('../fonts/BureauGrotesque-OneFive.ttf') format('truetype'),
        url('../fonts/BureauGrotesque-OneFive.svg#BureauGrotesque-OneFive') format('svg');
    font-weight: 500;
    font-style: normal;
}

// @font-face {
//     font-family: 'BureauGrotesque-FiveThree';
//     src: url('BureauGrotesque-FiveThree.eot');
//     src: url('BureauGrotesque-FiveThree.eot?#iefix') format('embedded-opentype'),
//         url('BureauGrotesque-FiveThree.woff2') format('woff2'),
//         url('BureauGrotesque-FiveThree.woff') format('woff'),
//         url('BureauGrotesque-FiveThree.ttf') format('truetype'),
//         url('BureauGrotesque-FiveThree.svg#BureauGrotesque-FiveThree') format('svg');
//     font-weight: 500;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'BureauGrotesque-OneThree';
//     src: url('BureauGrotesque-OneThree.eot');
//     src: url('BureauGrotesque-OneThree.eot?#iefix') format('embedded-opentype'),
//         url('BureauGrotesque-OneThree.woff2') format('woff2'),
//         url('BureauGrotesque-OneThree.woff') format('woff'),
//         url('BureauGrotesque-OneThree.ttf') format('truetype'),
//         url('BureauGrotesque-OneThree.svg#BureauGrotesque-OneThree') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
//
// @font-face {
//     font-family: 'BureauGrotesque';
//     src: url('BureauGrotesque-OneSeven.eot');
//     src: url('BureauGrotesque-OneSeven.eot?#iefix') format('embedded-opentype'),
//         url('BureauGrotesque-OneSeven.woff2') format('woff2'),
//         url('BureauGrotesque-OneSeven.woff') format('woff'),
//         url('BureauGrotesque-OneSeven.ttf') format('truetype'),
//         url('BureauGrotesque-OneSeven.svg#BureauGrotesque-OneSeven') format('svg');
//     font-weight: 500;
//     font-style: normal;
// }

// SuisseWorks

@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/SuisseWorks-Regular.eot');
    src: url('../fonts/SuisseWorks-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseWorks-Regular.woff2') format('woff2'),
        url('../fonts/SuisseWorks-Regular.woff') format('woff'),
        url('../fonts/SuisseWorks-Regular.ttf') format('truetype'),
        url('../fonts/SuisseWorks-Regular.svg#SuisseWorks-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/SuisseWorks-RegularItalic.eot');
    src: url('../fonts/SuisseWorks-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseWorks-RegularItalic.woff2') format('woff2'),
        url('../fonts/SuisseWorks-RegularItalic.woff') format('woff'),
        url('../fonts/SuisseWorks-RegularItalic.ttf') format('truetype'),
        url('../fonts/SuisseWorks-RegularItalic.svg#SuisseWorks-RegularItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/SuisseWorks-Book.eot');
    src: url('../fonts/SuisseWorks-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseWorks-Book.woff2') format('woff2'),
        url('../fonts/SuisseWorks-Book.woff') format('woff'),
        url('../fonts/SuisseWorks-Book.ttf') format('truetype'),
        url('../fonts/SuisseWorks-Book.svg#SuisseWorks-Book') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/SuisseWorks-BookItalic.eot');
    src: url('../fonts/SuisseWorks-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseWorks-BookItalic.woff2') format('woff2'),
        url('../fonts/SuisseWorks-BookItalic.woff') format('woff'),
        url('../fonts/SuisseWorks-BookItalic.ttf') format('truetype'),
        url('../fonts/SuisseWorks-BookItalic.svg#SuisseWorks-BookItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/SuisseWorks-Medium.eot');
    src: url('../fonts/SuisseWorks-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseWorks-Medium.woff2') format('woff2'),
        url('../fonts/SuisseWorks-Medium.woff') format('woff'),
        url('../fonts/SuisseWorks-Medium.ttf') format('truetype'),
        url('../fonts/SuisseWorks-Medium.svg#SuisseWorks-Medium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/SuisseWorks-MediumItalic.eot');
    src: url('../fonts/SuisseWorks-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseWorks-MediumItalic.woff2') format('woff2'),
        url('../fonts/SuisseWorks-MediumItalic.woff') format('woff'),
        url('../fonts/SuisseWorks-MediumItalic.ttf') format('truetype'),
        url('../fonts/SuisseWorks-MediumItalic.svg#SuisseWorks-MediumItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/SuisseWorks-Bold.eot');
    src: url('../fonts/SuisseWorks-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseWorks-Bold.woff2') format('woff2'),
        url('../fonts/SuisseWorks-Bold.woff') format('woff'),
        url('../fonts/SuisseWorks-Bold.ttf') format('truetype'),
        url('../fonts/SuisseWorks-Bold.svg#SuisseWorks-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/SuisseWorks-BoldItalic.eot');
    src: url('../fonts/SuisseWorks-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseWorks-BoldItalic.woff2') format('woff2'),
        url('../fonts/SuisseWorks-BoldItalic.woff') format('woff'),
        url('../fonts/SuisseWorks-BoldItalic.ttf') format('truetype'),
        url('../fonts/SuisseWorks-BoldItalic.svg#SuisseWorks-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

//Suisse Intl Condensed

@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-Thin.eot');
    src: url('../fonts/SuisseIntlCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-Thin.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-Thin.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-Thin.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-Thin.svg#SuisseIntlCondensed-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-ThinItalic.eot');
    src: url('../fonts/SuisseIntlCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-ThinItalic.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-ThinItalic.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-ThinItalic.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-ThinItalic.svg#SuisseIntlCondensed-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-Light.eot');
    src: url('../fonts/SuisseIntlCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-Light.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-Light.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-Light.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-Light.svg#SuisseIntlCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-LightItalic.eot');
    src: url('../fonts/SuisseIntlCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-LightItalic.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-LightItalic.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-LightItalic.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-LightItalic.svg#SuisseIntlCondensed-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-Regular.eot');
    src: url('../fonts/SuisseIntlCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-Regular.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-Regular.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-Regular.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-Regular.svg#SuisseIntlCondensed-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-RegItalic.eot');
    src: url('../fonts/SuisseIntlCondensed-RegItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-RegItalic.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-RegItalic.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-RegItalic.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-RegItalic.svg#SuisseIntlCondensed-RegItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-Medium.eot');
    src: url('../fonts/SuisseIntlCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-Medium.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-Medium.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-Medium.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-Medium.svg#SuisseIntlCondensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-MedItalic.eot');
    src: url('../fonts/SuisseIntlCondensed-MedItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-MedItalic.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-MedItalic.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-MedItalic.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-MedItalic.svg#SuisseIntlCondensed-MedItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-Semibold.eot');
    src: url('../fonts/SuisseIntlCondensed-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-Semibold.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-Semibold.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-Semibold.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-Semibold.svg#SuisseIntlCondensed-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-SemibdItalic.eot');
    src: url('../fonts/SuisseIntlCondensed-SemibdItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-SemibdItalic.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-SemibdItalic.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-SemibdItalic.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-SemibdItalic.svg#SuisseIntlCondensed-SemibdItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}



@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-Bold.eot');
    src: url('../fonts/SuisseIntlCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-Bold.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-Bold.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-Bold.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-Bold.svg#SuisseIntlCondensed-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SuisseCondensed';
    src: url('../fonts/SuisseIntlCondensed-BoldItalic.eot');
    src: url('../fonts/SuisseIntlCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SuisseIntlCondensed-BoldItalic.woff2') format('woff2'),
        url('../fonts/SuisseIntlCondensed-BoldItalic.woff') format('woff'),
        url('../fonts/SuisseIntlCondensed-BoldItalic.ttf') format('truetype'),
        url('../fonts/SuisseIntlCondensed-BoldItalic.svg#SuisseIntlCondensed-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}
