$grid-columns: 12 !default;
$grid-gutter-mobile: units(2);
$grid-gutter-desktop: units(4);

@mixin grid-column($size, $n) {
  .col-#{$size}-#{$n} {
    width: 100% / $grid-columns * $n;
  }

  .col-#{$size}-offset-0 {
    margin-left: 0;
  }

  .col-#{$size}-offset-#{$n} {
    margin-left: 100% / $grid-columns * $n;
  }
}

@mixin grid-row () {
  float: left;
  width: 100%;
  min-height: $one-pixel;
  padding: 0 $grid-gutter-mobile;

  @media #{$screen-md-up} {
    padding: 0 $grid-gutter-desktop;
  }
}

[class^='col-'],
[class*=' col-'] {
  @include grid-row();
}

.row {
  *zoom: 1;
  margin: 0 -#{$grid-gutter-mobile};

  @media #{$screen-md-up} {
    margin: 0 -#{$grid-gutter-desktop};
  }

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.no-gutter {
  margin: 0;

  > [class^='col-'],
  [class*=' col-'] {
    padding: 0;
  }
}

@for $i from 1 through $grid-columns {
  @include grid-column(xs, $i);
}

@media #{$screen-sm-up} {
  @for $i from 1 through $grid-columns {
    @include grid-column(sm, $i);
  }
}

@media #{$screen-md-up} {
  @for $i from 1 through $grid-columns {
    @include grid-column(md, $i);
  }
}

@media #{$screen-lg-up} {
  @for $i from 1 through $grid-columns {
    @include grid-column(lg, $i);
  }
}

@media #{$screen-xl-up} {
  @for $i from 1 through $grid-columns {
    @include grid-column(xl, $i);
  }
}

.container {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 $grid-gutter-mobile;

  @media #{$screen-md-up} {
    padding: 0 $grid-gutter-desktop;
  }
}

.container--small { max-width: $container-sm; }
.container--medium { max-width: $container-md; }
.container--large { max-width: $container-lg; }
.container--fluid { margin: 0; }
