.contact {
  .about {
    font-family: "SuisseWorks";
    line-height: 1.5;
    font-weight: 400;
    font-size: units(4);
    color: white;
    padding-left: units(4);
    padding-right: units(4);

    & > span {
      font-family: "SuisseCondensed";
      font-weight: 400;
      font-size: units(4);
      text-transform: uppercase;
    }
  }
}
