.upcoming {
  .upcoming-title {
    font-family: "BureauGrotesque";
    font-weight: 500;
    font-size: units(15);
    text-transform: uppercase;
  }

  &.upcoming--programs {
    padding-left: units(4);
    padding-right: units(4);
  }

  &.upcoming--events {
    padding-left: units(4);
    padding-right: units(4);
  }
}
